<!DOCTYPE html>
<html>
  <head>
    <title>Golf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <div class="content">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse header-color">
        <div class="green">
          <h4><%= link_to 'Go To Homepage', root_path, class: "green" %></h4>
          <% if current_user %>
            <h5><%= "Currently logged in as #{current_user.username}" %></h5>
          <% end %>
        </div>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="green">More Info</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <%= link_to "How to play", "#", class: "green" %> 
          </ul>
        </div>
      </nav>
  
      <h4 class="green text-center user-notice">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </h4>

      <%= yield %>
    </div>

    <div class="footer">
      Footer Content
    </div>

  </body>
</html>
